<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout/layout" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {
            $('#pageTooltip').tooltip({trigger: 'hover'});
        })

        /*]]>*/
    </script>
</head>
<body>
<div class="page-header" layout:fragment="header">
    <h1 style="display: inline-block;">Student Registration.</h1>
    <img id="pageTooltip" style="width: 30px; display: inline-block; margin-left: 65%;" th:src="@{/images/info.gif}"
         title="In this page you can register a Student.">
</div>
<div layout:fragment="content" class="jumbotron">
    <form class="form-horizontal" method="post" action="">

        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="badge badge-pill badge-secondary">Personal Details</div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-md-4">
                            <label for="firstName" class="required">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="middleName">Middle Name</label>
                            <input type="text" class="form-control" id="middleName" placeholder="Middle Name">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <div class="form-inline">
                        <div class="form-group col-md-4">
                            <label for="dateOfBirth">Select Gender</label>
                            <ul>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="maleCheckBox"
                                           value="maleCheckBox" checked>
                                    <label class="form-check-label" for="maleCheckBox">Male</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="femaleCheckBox"
                                           value="femaleCheckBox">
                                    <label class="form-check-label" for="femaleCheckBox">Female</label>
                                </div>
                            </ul>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="dateOfBirth" class="required">Date Of Birth</label>
                            <input type="date" style="width: 62%;" class="form-control" id="dateOfBirth">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="phoneNumber">Phone&nbsp;&nbsp;+91</label>
                            <input class="form-control" id="phoneNumber" placeholder="Phone Number" type="text"
                                   name="country_code" title="Error Message" pattern="[1-9]{1}[0-9]{9}">
                        </div>
                        <br/><br/><br/>
                        <div class="form-group col-md-8">
                            <label for="email">Email Address</label>
                            <input class="form-control" style="width: 75%;" id="email"
                                   placeholder="Enter Email Address." type="email">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="form-inline">
                        <div class="form-inline">
                            <div class="form-group col-md-6">
                                <label for="firstName" class="required">Father's Name</label>
                                <input type="text" class="form-control" style="width: 60%;" id="fatherName"
                                       placeholder="Father's Name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="motherName">Mother's Name</label>
                                <input type="text" class="form-control" style="width: 65%;" id="motherName"
                                       placeholder="Mother's Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="badge badge-pill badge-secondary">Address Details</div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-md-4">
                            <label for="address" class="required">Address</label>
                            <textarea class="form-control" style="resize:none; width: 75%;" id="address" rows="3" placeholder="Enter Address"></textarea>
                        </div>
                        <br/>
                        <div class="form-group col-md-4">
                            <label for="city">City Name</label>
                            <input type="text" class="form-control" id="city" placeholder="City Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">State Name</label>
                            <input type="text" class="form-control" id="state" placeholder="State Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="badge badge-pill badge-secondary">Course Details</div>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        //TODO after selecting from the course drop down, course fee, duration will come dynamically.(course enrolled date/ reset button)
<!--                        <div class="form-group col-md-4">-->
<!--                            <label for="address" class="required">Address</label>-->
<!--                            <textarea class="form-control" style="resize:none; width: 75%;" id="address" rows="3" placeholder="Enter Address"></textarea>-->
<!--                        </div>-->
<!--                        <br/>-->
<!--                        <div class="form-group col-md-4">-->
<!--                            <label for="city">City Name</label>-->
<!--                            <input type="text" class="form-control" id="city" placeholder="City Name">-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-4">-->
<!--                            <label for="state">State Name</label>-->
<!--                            <input type="text" class="form-control" id="state" placeholder="State Name">-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>