<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<!--Error loading for indirect url like courseView-->
<footer class="footer" th:fragment="footer"
         style="background-color: #eee;
				position: absolute;
				bottom: 0;
				width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;">
    <div class="container border">
        <div class="row">
            <div class="text-dark col-auto mr-auto" style="text-align: center;">&copy; Company Name</div>
        </div>
    </div>
</footer>

</body>

</html>