<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Navbar</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{styles/main.css}" rel="stylesheet" />
    </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li>
                <a href="#" style="margin-right: 10px;">
                    <img style="height: 30px; width: 30px;" title="Google login" th:src="@{/images/institute-logo.png}"/>
                </a>
            </li>
            <li class="nav-item">
                <a style="margin-left: 30px;" class="nav-link" href="#">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item" th:class="${activePage == 'info'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/login/info}">Info</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/login/contact}">Contact</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>