<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout/layout" lang="en">

<head>

    <title>View Courses</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {

            $('#courseTable').parent().find('[data-tooltip="tooltip"]').tooltip({trigger :'hover'});

            $('#courseTable').DataTable({
                "order": [1, "asc"],
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    {
                        "searchable": false,
                        "orderable": false
                    }
                ]
            });
        });
        /*]]>*/
    </script>

</head>

<body>
<div class="page-header" layout:fragment="header">
    <h1>View Courses.</h1>
</div>
<div layout:fragment="content" class="jumbotron">
    <div th:if="${allCourses != null}">
        <div th:if="${#lists.size(allCourses) == 0}">
            <div class="alert alert-info text-center">No Courses Available</div>
        </div>
        <div th:if="${#lists.size(allCourses) != 0}">
            <table class="table table-bordered table-hover table-striped" id="courseTable"
                   aria-label="all-courses-table">
                <thead>
                <tr style="background-color: #7F9D3F">
                    <th scope="col"><strong>Pks</strong></th>
                    <th scope="col"><strong>Course Name</strong></th>
                    <th scope="col"><strong>Course Fees</strong></th>
                    <th scope="col"><strong>Course Duration</strong></th>
                    <th scope="col"><strong>Created Date</strong></th>
                    <th scope="col"><strong>Actions</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${allCourses}">
                    <td th:text="${course.coursePk}"></td>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.coursePrice}"></td>
                    <td th:text="${course.courseDuration}"></td>
                    <td th:text="${course.createdTs}"></td>
                    <td>
                        <button data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Edit" id="editButton" data-target="#myModal">
                            <img style="width: 30px;" th:src="@{/images/edit.gif}">
                        </button>
                        <button data-tooltip="tooltip" data-placement="top" title="Delete" id="deleteButton">
                            <img style="width: 30px;" th:src="@{/images/waste.gif}">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--For editing modal-->
    <div class="modal fade" id="myModal" role="dialog">
        <div style="margin-top: 200px;" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img style="width: 25px;" th:src="@{/images/close.gif}"></button>
                    <h4 class="modal-title text-center">Update the Course Details.</h4>
                </div>
                <div class="modal-body">
                    <form name="edit-form">
                        <div class="form-group row">
                            <label for="courseName" class="col-md-5 col-form-label text-right required">Course Name</label>
                            <div class="col-md-3">
                                <div class="input-group row">
                                    <div class="input-group-addon">
                                        &#128218;
                                    </div>
                                    <input type="text" id="courseName" pattern="[a-zA-Z'-'\s]*" class="form-control"
                                           placeholder="Enter Course name">
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="courseFee" class="col-md-5 col-form-label text-right required">Course Fee</label>
                            <div class="col-md-3">
                                <div class="input-group row">
                                    <div class="input-group-addon">
                                        &#8377;
                                    </div>
                                    <input type="number" min="100" max="10000" id="courseFee" class="form-control"
                                           placeholder="Enter Course Fee" />
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="courseDuration" class="col-md-5 col-form-label text-right required">Course Duration</label>
                            <div class="col-md-3">
                                <div class="input-group row">
                                    <div class="input-group-addon">
                                        &#128337;
                                    </div>
                                    <select class="form-control" id="courseDuration">
                                        <option th:each="duration : ${T(com.student.model.course.CourseDuration).values()}"
                                                th:value="${duration}" th:text="${duration}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>
                        <div class="text-center">
                            <input type="button" id="updateCourseBtn" class="btn btn-primary" value="Update Course" title="click to Update"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--if it returns null-->
    <div th:if="${allCourses == null}">
        <div class="alert alert-danger text-center">Something Bad Happend..</div>
    </div>
</div>
</body>
</html>