<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout/layout" lang="en">

<head>
    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>

    <title>View Courses</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var BASE_URL = window.location.origin + "/" + window.location.pathname.split("/")[0];

        $(document).ready(function () {
            $('#pageTooltip').tooltip({trigger: 'hover'});
            $('#courseTable').parent().find('[data-tooltip="tooltip"]').tooltip({trigger: 'hover'});

            $('#courseTable').DataTable({
                "order": [1, "asc"],
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    {
                        "searchable": false,
                        "orderable": false
                    }
                ]
            });

            $('#courseTable').on('click', '#editButton', function () {
                var courseId = $(this).val();

                //have to pass this above pk  to the below ajax call
                var url = BASE_URL + 'course/getOneCourse/' + courseId;

                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#modalResult').html(data);
                        $('#editModal').modal('show');
                    }, error: function () {
                        swal({
                            type: "error",
                            title: "Something went wrong, please contact the Support.",
                            confirmButtonColor: '#337ab7',
                            confirmButtonText: 'OK'
                        });
                        return;
                    }
                })
            })

            //delete one course
            $('#courseTable').on('click', '#deleteButton', function () {
                var courseId = $(this).val();

                //have to pass this above pk  to the below ajax call
                var url = BASE_URL + 'course/deleteOneCourse/' + courseId;
                if (courseId) {
                    swal({
                        title: "Are you sure?",
                        text: "After delete course can't be recover!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes',
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    }, function (resp) {
                        if (resp) {
                            $.ajax({
                                type: 'delete',
                                url: url,
                                success: function () {
                                    swal({
                                        type: "success",
                                        title: "Course Deleted Successfully.",
                                        timer: 3000,
                                        showConfirmButton: false
                                    })
                                    window.location.reload();
                                }, error: function () {
                                    swal({
                                        type: "error",
                                        title: "Something went wrong, please contact the Support.",
                                        confirmButtonColor: '#337ab7',
                                        confirmButtonText: 'OK'
                                    });
                                    return;
                                }
                            })
                        }
                    });
                }
            })
        });

        /*]]>*/
    </script>

</head>

<body>
<div class="page-header" layout:fragment="header">
    <h1 style="display: inline-block;">View Courses.</h1>
    <img id="pageTooltip" style="width: 30px; display: inline-block; margin-left: 75%;" th:src="@{/images/info.gif}" title="In this page you can View, Create, Edit, Delete Courses.">
</div>
<div layout:fragment="content" class="jumbotron">
    <div th:if="${allCourses != null}">
        <div th:if="${#lists.size(allCourses) == 0}">
            <div class="alert alert-info text-center">No Courses Available</div>
        </div>
        <div th:if="${#lists.size(allCourses) != 0}">
            <table class="table table-bordered table-hover table-striped" id="courseTable"
                   aria-label="all-courses-table">
                <thead>
                <tr style="background-color: #cadba2">
                    <th scope="col"><strong>Course Id</strong></th>
                    <th scope="col"><strong>Course Name</strong></th>
                    <th scope="col"><strong>Course Fees</strong></th>
                    <th scope="col"><strong>Course Duration</strong></th>
                    <th scope="col"><strong>Created Date</strong></th>
                    <th scope="col"><strong>Actions</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${allCourses}">
                    <td th:text="${course.coursePk}"></td>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.coursePrice}"></td>
                    <td th:text="${course.courseDuration}"></td>
                    <td th:text="${course.createdTs}"></td>
                    <td>
                        <button data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Edit" style="margin-left: 20px;"
                                id="editButton" th:value="${course.coursePk}">
                            <img style="width: 30px;" th:src="@{/images/settings.gif}">
                        </button>
                        <button data-tooltip="tooltip" data-placement="top" title="Delete" id="deleteButton"
                                th:value="${course.coursePk}">
                            <img style="width: 30px;" th:src="@{/images/waste.gif}">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalResult"></div>


    <!--if it returns null-->
    <div th:if="${allCourses == null}">
        <div class="alert alert-danger text-center">Something Bad Happend..</div>
    </div>
</div>
</body>
</html>