<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<head>
    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>
    <title>Create Course</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var BASE_URL = window.location.origin + "/" + window.location.pathname.split("/")[0];

        $(document).ready(function () {
            $('#createCourseBtn').on('click',function (){
                createOneCourse();
            })

        });

        //for creating one course
        function createOneCourse(){
            var courseName = $('#courseName').val();
            var courseFee = $('#courseFee').val();
            var courseDuration = $('#courseDuration').val();

            //empty data validation
            if(courseName){
                //checking for only alphabets
                if(!onlyLettersAndSpaces(courseName)){
                    swal({
                        type: "warning",
                        title: "Course Name can contains only Alphabets.",
                        confirmButtonColor: '#337ab7',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
            }
            if(!courseName || courseName.trim().length === 0){
                swal({
                    type: "warning",
                    title: "Please Enter Course Name.",
                    confirmButtonColor: '#337ab7',
                    confirmButtonText: 'OK'
                });
                return;
            }
            if(!courseFee || courseFee.trim().length === 0){
                swal({
                    type: "warning",
                    title: "Please Enter Course Fee.",
                    confirmButtonColor: '#337ab7',
                    confirmButtonText: 'OK'
                });
                return;
            }
            if(!courseDuration || courseDuration.trim().length === 0){
                swal({
                    type: "warning",
                    title: "Please Enter Course Duration.",
                    confirmButtonColor: '#337ab7',
                    confirmButtonText: 'OK'
                });
                return;
            }

            //call the ajax for saving the course
            var url = BASE_URL + 'course/saveCourse';
            var courseData = {
                courseName : courseName,
                coursePrice : courseFee,
                courseDuration : courseDuration
            }

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: url,
                data: JSON.stringify(courseData),
                dataType: 'text',
                success: function (data){
                    swal({
                        type: "success",
                        title: "Course Created Successfully.",
                        confirmButtonColor: '#337ab7',
                        confirmButtonText: 'OK'
                    });

                    //reseting the form after success
                    $('#courseName').val("");
                    $('#courseFee').val("");
                    return;
                },
                error: function (e) {
                    $('#successDiv').html("<div class='alert alert-danger'>Something Bad happened Please contact to Support</div>")
                }
            })





        }

        function onlyLettersAndSpaces(str) {
            return /^[A-Za-z\s]*$/.test(str);
        }

        /*]]>*/
    </script>
</head>

<body>
<div class="page-header" layout:fragment="header">
    <h1>Create Course.</h1>
</div>
<div layout:fragment="content">

    <div class="row jumbotron">
        <form name="my-form">
            <div class="form-group row">
                <label for="courseName" class="col-md-5 col-form-label text-right required">Course Name</label>
                <div class="col-md-3">
                    <div class="input-group row">
                        <div class="input-group-addon">
                            &#128218;
                        </div>
                        <input type="text" id="courseName" pattern="[a-zA-Z'-'\s]*" class="form-control"
                               placeholder="Enter Course name">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="courseFee" class="col-md-5 col-form-label text-right required">Course Fee</label>
                <div class="col-md-3">
                    <div class="input-group row">
                        <div class="input-group-addon">
                            &#8377;
                        </div>
                        <input type="number" min="100" max="10000" id="courseFee" class="form-control"
                               placeholder="Enter Course Fee" />
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="courseDuration" class="col-md-5 col-form-label text-right required">Course Duration</label>
                <div class="col-md-3">
                    <div class="input-group row">
                        <div class="input-group-addon">
                            &#128337;
                        </div>
                        <select class="form-control" id="courseDuration">
                            <option th:each="duration : ${T(com.student.model.course.CourseDuration).values()}"
                                    th:value="${duration}" th:text="${duration}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <div class="text-center">
                <input type="button" id="createCourseBtn" class="btn btn-primary" value="Create Course"/>
            </div>
        </form>
    </div>

    <div id="successDiv"></div>

</div>
</body>
</html>